<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "edu.uab.business.studentapp"
        versionCode = "1" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name> Module 5 Assignment</name>

    <description>
        Module 5 Assignment 
    </description>

    <author>
        David L. McConico 
    </author>
    
    <preference name="phonegap-version" value="cli-6.1.0" />
    <preference name="SplashScreenDelay" value="3000" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-geolocation" source="npm" />   
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <icon src="icon.png" />
    <splash src="splash.png" /> 
    <access origin="*" />

</widget>





   


  

